<link href="~/css/_codingPractices.css" rel="stylesheet" />

<div id="mainBody" style="padding: 0 20px;">
    <h1>Coding practices</h1>
    <p>This document is to help developers understand the business problem that needs to be solved and well as guidelines for developing in the MyDeals environment.</p>

    <h3>What would you like to learn today?</h3>
    <div class="container-fluid">
        <div class="row">
            <div style="padding: 20px;" class="col-lg-6 col-mg-6">
                <a href="@Url.Action("BusinessDesign", "CodingPractices", new {Area = ""})">
                    <div class="fl">
                        <img src="/images/docs/busDesign.png" height="60" />
                    </div>
                    <div class="fl" style="padding-top: 6px; margin-left: 10px; color: #000000;">
                        <h5 style="margin: 0; font-size: 18px; line-height: 1em;">MyDeals</h5>
                        <h6 style="margin: 0; font-weight: normal; font-size: 24px; line-height: 1em;">business process & abstract design</h6>
                        <div style="margin: 0; font-size: 12px; line-height: 1em;">high level business process</div>
                    </div>
                    <div class="clearboth"></div>
                </a>
            </div>

            <div style="padding: 20px;" class="col-lg-6 col-mg-6">
                <a href="@Url.Action("Project", "CodingPractices", new {Area = ""})">
                    <div class="fl">
                        <img src="/images/docs/projectSetup.png" height="75" />
                    </div>
                    <div class="fl" style="padding-top: 6px; margin-left: 10px; color: #000000;">
                        <h5 style="margin: 0; font-size: 18px; line-height: 1em;">MyDeals</h5>
                        <h6 style="margin: 0; font-weight: normal; font-size: 24px; line-height: 1em;">project setup & logic flow</h6>
                        <div style="margin: 0; font-size: 12px; line-height: 1em;">coding practices to ensure the application is coded in a consistent manner</div>
                    </div>
                    <div class="clearboth"></div>
                </a>
            </div>

            <div style="padding: 20px;" class="col-lg-6 col-mg-6">
                <a href="@Url.Action("CodingTools", "CodingPractices", new {Area = ""})">
                    <div class="fl">
                        <img src="/images/docs/icon-code-tools.png" style="width: 90px" />
                    </div>
                    <div class="fl" style="padding-top: 6px; margin-left: 10px; color: #000000;">
                        <h5 style="margin: 0; font-size: 18px; line-height: 1em;">MyDeals</h5>
                        <h6 style="margin: 0; font-weight: normal; font-size: 24px; line-height: 1em;">coding tools</h6>
                        <div style="margin: 0; font-size: 12px; line-height: 1em;">tools and standard for developing</div>
                    </div>
                    <div class="clearboth"></div>
                </a>
            </div>

            <div style="padding: 20px;" class="col-lg-6 col-mg-6">
                <a href="@Url.Action("Flows", "CodingPractices", new {Area = ""})">
                    <div class="fl" style="margin-left: 8px;">
                        <img src="/images/docs/path.png" />
                    </div>
                    <div class="fl" style="padding-top: 6px; margin-left: 10px; color: #000000;">
                        <h5 style="margin: 0; font-size: 18px; line-height: 1em;">MyDeals</h5>
                        <h6 style="margin: 0; font-weight: normal; font-size: 24px; line-height: 1em;">scope decision</h6>
                        <div style="margin: 0; font-size: 12px; line-height: 1em;">tool and data used to determine scope</div>
                    </div>
                    <div class="clearboth"></div>
                </a>
            </div>

            <div style="padding: 20px;" class="col-lg-6 col-mg-6">
                <a href="@Url.Action("Formulas", "CodingPractices", new {Area = ""})">
                    <div class="fl" style="margin-left: 8px;">
                        <img src="/images/docs/pct.png" />
                    </div>
                    <div class="fl" style="padding-top: 12px; margin-left: 10px; color: #000000;">
                        <h5 style="margin: 0; font-size: 18px; line-height: 1em;">MyDeals</h5>
                        <h6 style="margin: 0; font-weight: normal; font-size: 24px; line-height: 1em;">excel pct formulas</h6>
                        <div style="margin: 0; font-size: 12px; line-height: 1em;">view the pct formulas used by excel</div>
                    </div>
                    <div class="clearboth"></div>
                </a>
            </div>
        </div>
    </div>

</div>


