@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Project setup and logic flow" },
    { "categoryAction", "Project" },
    { "sectionTitle", "" },
    { "sectionAction", "" },
    { "pageTitle", "Introduction" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1>Project setup and logic flow</h1>
    <p>
        This document is a living document to help maintain coding practices to ensure the application is coded in a consistent manner.
        These are not coding standards. Instead, this is intended to provide project layout and intended usages for each project.
    </p>
    <div style="padding: 20px 5px; text-align: left;">
        <img src="/Images/docs/MyDeals Project Logic.png" />
    </div>
    <p>
        The MyDeals project is a Visual Studio project backed by TFS source control.
        The technologies consist of MS SQL 2014, C# .NET, T4 Templating, MVC, Web API, JQuery, Kendo UI, Angular and HTML5.
        This document will demonstate how data will logically flow through the technology as well as common practices that can be re-used for quicker and more reliable coding.
    </p>

    <h2>UI and middle tier architecture</h2>

    <p>
        The UI and middle tier architecture consists of ASP.NET MVC to handle global routing and break the application up into managable sections.
        This should help with memory and performance issues. The controller will spawn off Single Page Applications (SPA) or standalone pages (admin screens for example).
    </p>
    <p>
        <a href="/Images/docs/MyDeal UI MT Architecture 50.pdf" target="_blank">
            <div style="padding: 20px 5px 0 5px; text-align: left;">
                <img src="/Images/docs/ui_mt_architecture.png" />
            </div>
            Click to view a larger version of the architecture.
        </a>
    </p>

    <h2>Implementation guidance</h2>

    <table style="width: 100%; margin-top: 15px;">
        <tr style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">
            <th style="font-weight: 200; width: 180px; text-align: center;"></th>
            <th style="font-weight: 200;">Description</th>
            <th style="font-weight: 200; width: 220px;">Recomended Links</th>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("DataAccess", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/icon-data-access.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals.DataAccess</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer to hold all Database connection libraries.  These are the tool used by the Data Libraries to access the Database via Stored Procedures.</td>
            <td style="font-size: 11px;">
                <div><a href="@Url.Action("DataAccessStoredProcedure", "CodingPractices", new {Area = ""})">Consume a stored procedure</a></div>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("Entities", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/icon-entity.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals.Entities</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer to hold common libraries/classes that can be consumed by all layers of the MyDeals Suite.</td>
            <td style="font-size: 11px;">
                <div><a href="@Url.Action("SharedClasses", "CodingPractices", new {Area = ""})">Creating a shared class</a></div>
                <div><a href="@Url.Action("ClassFromProcedure", "CodingPractices", new {Area = ""})">Creating a shared class from a procedure</a></div>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("DataLibrary", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/icon-data-library.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals.DataLibrary</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer dedicated to making all database calls as well as data caching repository for performance.</td>
            <td style="font-size: 11px;">
                <div><a href="@Url.Action("CallProcedure", "CodingPractices", new {Area = ""})">Calling a stored procedure</a></div>
                <div><a href="@Url.Action("Cache", "CodingPractices", new {Area = ""})">Creating a data cache</a></div>
                <div><a href="@Url.Action("CacheManager", "CodingPractices", new {Area = ""})">Managing cached data</a></div>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("BusinessLogic", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/icon-bus-logic.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals.BusinessLogic</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer dedicated to hold the business logic for MyDeals.  Most of the logic for the application should reside in this layer.  There should be NO data access from this layer.</td>
            <td style="font-size: 11px;">Recomended Links</td>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("BusinessRules", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/incon-bus-rules.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals.BusinessRules</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer dedicated to hold the business rules and validation.  These should be driven completely off MetaData.</td>
            <td style="font-size: 11px;">Recomended Links</td>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("Application", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/icon-app-layer.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals.App</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer dedicated to housing Application specific information such as Application View Model, Application Library, and Application Settings.</td>
            <td style="font-size: 11px;">Recomended Links</td>
        </tr>
        <tr style="border-bottom: 1px solid #dddddd;">
            <td style="padding: 15px; text-align: center;">
                <a href="@Url.Action("Presentation", "CodingPractices", new {Area = ""})">
                    <img src="/Images/docs/icon-presentation.png" height="60" />
                    <div style="font-size: 10px;">Intel.MyDeals</div>
                </a>
            </td>
            <td style="font-size: 12px; color: #333333; padding-right: 15px;">Layer dedicated to the final presentation to the user.  This holds the MVC Project and Kendo Controls.</td>
            <td style="font-size: 11px;">Recomended Links</td>
        </tr>
    </table>

    <br /><br /><br />
</div>


