@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";

    var usrFName = "UNKNOWN";
    var usrLName = "UNKNOWN";
    var usrEmail = "";
    var usrWwid = 0;
    try
    {
        usrFName = ViewBag.UserToken.Usr.FirstName;
        usrLName = ViewBag.UserToken.Usr.LastName;
        usrEmail = ViewBag.UserToken.Usr.Email;
        usrWwid = ViewBag.UserToken.Usr.WWID;
    }
    catch (Exception)
    {
        // do some error catching or 404 error redirect here...
    }
}

<div class="noaccess-header">
    <img src="/images/intel-logo-white-100.png" id="intelLogo" />
    <span class="main-logo-title">Deal Management Suite</span>
    <i class="fr intelicon-help-solid" style="color: #ffffff; font-size: 30px; margin-top: 5px;"></i>

</div>

<div class="container-fluid">
	<div class="row">
		<h1>Welcome to My Deals, @usrFName.</h1><h2>  Looks like you do not have any customers assigned.</h2>
	</div>
	<div class="need-customers-container">
		<div class="row">
			<div class="col-md-12 user-details">
				<div class="desc role-title">Update selections for:</div>
				<div class="defaults">@usrFName @usrLName</div>
			</div>

			<div class="col-md-12 user-details">
				<div class="desc role-title">AGS selected geographies:</div>
				<div id="customerGeos" class="defaults">...</div>
			</div>

			<div class="col-md-12 col-xs-12">
				<div class="info-container">
					<div class="customers-container">
						<div class="role-title"> Select Customers <span class="desc">Select all of the customer account that pertain to your job role</span></div>
						<select id="customers"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div style="text-align: center; margin-top: 40px;">
				<button class="btn btn-primary skyblue" type="button" onClick="clkSubmit()">Submit Request</button>
			</div>
		</div>
	</div>
</div>

<script id="applyForCustEmailTemplate" type="text/x-kendo-template">
    <div style='font-family:sans-serif;'>
        <p><span style='font-size:20px; color: \\#00AEEF; font-weight: 600'>My Deals Customer Access Review Required!</span></p>
        <p><span style='font-size: 14px; color: red;'><i>**This email was sent from a notification-only address that cannot accept incoming email.  Please do not reply to this message.</i></span></p>
        <p><span style='font-size: 14px;'><b>Please respond to: </b> <a href='mailto:#= data.from #'>#= data.from #</a>.</span></p>
        <br />
        <p><span style='font-size:18px;'>Customer Account Request Granted</span></p>
        <p><span style='font-size: 12px;'>
            #= data.name # has selected access to the following list of Customer Accounts which have been granted automatically. 
            In order to <b>review/manage</b> customers for this user’s account, please visit the <a href='#= data.url #?id=#= data.wwid #'>User Customer Assignments Admin Screen</a>.</span></p>
        <table>
            <thead>
                <tr>
                    <th style='text-align: left; width:100px; font-size: 12px; font-family: sans-serif;'><strong>Geo</strong></th>
                    <th style='text-align: left; width:600px; font-size: 12px; font-family: sans-serif;'><strong>Customers</strong></th>
                </tr>
            </thead>
            <tbody>
                # for (var i = 0; i < data.items.length; i++) { #
                <tr>
                    <td style='width:100px; font-size: 12px; font-family: sans-serif;'><span style=''>#= data.items[i].geo #</span> </td>
                    <td style='width:600px; font-size: 12px; font-family: sans-serif;'><span style='color:\\#1f4e79;'>#= data.items[i].custs #</span> </td>
                </tr>
                # } #
            </tbody>
        </table>
    </div>
</script>

<script>
	var myGeos = "";

    var ds = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
            	url: function () {
            		if (myGeos == "") {
            			myGeos = "WW"; // default value
            		}
            		return "/api/UserPreferences/GetManageUserDataGetCustomersInGeos/" + myGeos; //note: we switched to this api call instead of the previous /api/Customers/GetActiveCustomersByGeo/ as this one band-aids on "All Customers" and also pulls inactive customers as well which a user may wish to monitor
                }
            }
        }
    });

    function clkSubmit() {
        var multiselect = $("#customers").data("kendoMultiSelect");
        var dataItems = multiselect.dataItems();
        if (dataItems.length === 0) {
            kendo.alert("Please select at least one customer account.");
            return;
        }

        var ids = [];
        var geos = {};
        var geoData = [];
        for (var d = 0; d < dataItems.length; d++) {
            ids.push(dataItems[d]["CUST_NM_SID"]);
            if (geos[dataItems[d]["HOSTED_GEO"]] === undefined) geos[dataItems[d]["HOSTED_GEO"]] = [];
            geos[dataItems[d]["HOSTED_GEO"]].push(dataItems[d]["CUST_NM"]);
        }

        for (var key in geos) {
            if (geos.hasOwnProperty(key))
                geoData.push({
                    geo: key,
                    custs: geos[key].join(", ")
                });
        }

        var emailData = {
            from: "@usrEmail",
            name: "@usrFName @usrLName",
            wwid: "@usrWwid",
            url: window.location.protocol + "//" + window.location.host + "/Admin#/manageEmployee",
            items: geoData
        };

        var template = kendo.template($("#applyForCustEmailTemplate").html());
        var result = template(emailData); //Execute the template

        var data = {
            "custIds": ids,
            "emailBody": result
        }

        op.ajaxPostAsync("/api/UserPreferences/ApplyForCustomers", data, function () {
            document.location.href = '/Error/DirectUser';
        }, function () {
            kendo.alert("Unable to add the Customers");
        });

    }

    $(document).ready(function () {
        function custChange() {
            var custmultiselect = $("#customers").data("kendoMultiSelect");
            var selected = custmultiselect.dataItems();
            var lastSelected = null;
            if (selected.length != 0) {
                lastSelected = selected[selected.length - 1];
            } 
            else {
                lastSelected = null;
            }

            if (lastSelected != null && (lastSelected["CUST_NM"] == "All Customers" || selected[0]["CUST_NM"] == "All Customers")) { //if there was a last selected and the last or the first item is "All Customers", then we would want the list to become only the last selected item.
                custmultiselect.value([lastSelected["CUST_MBR_SID"]])
            } 
        }

        $("#customers").kendoMultiSelect({
            placeholder: "Select customers...",
            dataTextField: "CUST_DIV_NM",
            dataValueField: "CUST_MBR_SID",
            autoBind: true,
            autoClose: false,
            dataSource: ds,
            itemTemplate: "<div>#: data.CUST_DIV_NM # <div class='fr hosted_geo'> #: data.HOSTED_GEO #</div></div>" ,
            change: custChange
        });
		
		// Get geos to filter customer list with
        $.get("/api/UserPreferences/GetManageUserGeos/" + @usrWwid, function (data) {
        	myGeos = data.join(",");
        	myGeos = myGeos.replace(' ', '');
        	$("#customerGeos").html(myGeos);
        	ds.read();
        });
    });

</script>

<style>
    body {
        height: 100%;
        background-color: #FFFFFF;
        color: #000000;
        font-family: "Intel Clear", "Arial";
        font-size: 16px;
    }

	.need-customers-container{
		max-width:1000px;
		margin:0 auto;
	}

    #intelLogo {
        width: 50px;
        height: 33px;
    }

    .main-logo-title {
        margin-left: 8px;
    }

    .k-window-titlebar.k-dialog-titlebar.k-header {
        display: none;
    }

    .skyblue {
        background-color: #00AEEF;
        border: 1px solid #00AEEF;
    }
    .skyblue:hover {
        background-color: #0071C5;
        border: 1px solid #0071C5;
    }

    .customers-container .desc {
        color: #aaaaaa;
        font-size: 12px;
		margin-left: 20px;
    }

    .customers-container {
        text-align: left;
    }

    .lnk {
        font-weight: normal;
        font-weight: 200;
    }

    .lnk a {
        color: #00AEEF;
    }

    .noaccess-header {
        background-color: #0071C5;
        color: #ffffff;
        height: 70px;
        width: 100%;
        padding: 15px;
    }

    .info-container {
		margin-top: 25px;
        text-align: center;
    }

    .info-box-container {
        border: 1px solid #d7d7d7;
        border-radius: 6px;
        padding: 30px;
        margin: 10px 50px;
        text-align: left;
    }

    h1 {
        font-family: "Intel Clear", "Arial";
        font-size: 40px;
        font-weight: bold;
        font-weight: 700;
        font-style: normal;
        margin: 50px 10px 10px 10px;
        text-align: center;
    }

    h2 {
        font-family: "Intel Clear", "Arial";
        font-size: 20px;
        font-weight: bold;
        font-weight: 700;
        font-style: normal;
        margin: 20px 10px 30px 10px;
        text-align: center;
        color: #0071C5;
    }

    h3 {
        font-family: "Intel Clear", "Arial";
        font-size: 16px;
        font-weight: bold;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        margin-bottom: 5px;
        color: #0071C5;
    }

    .role-title {
        font-family: "Intel Clear", "Arial";
        font-size: 14px;
        font-weight: bold;
        font-weight: 600;
        color: #000000;
    }

    .role-desc {
        font-family: "Intel Clear", "Arial";
        font-size: 12px;
        font-weight: normal;
        font-weight: 200;
        font-style: normal;
        color: #000000;
        margin: 10px 10px 20px 20px;
    }

	.user-details {
		margin: 15px 0;
	}

	.defaults {
		color: #939598;
	}

	.hosted_geo {
		color: #b1babf;
		font-weight: bold;
		font-size: 12px;
	}
</style>
