@using Intel.MyDeals.Entities
@using Intel.Opaque
@using Intel.MyDeals.App
@{
    var usrName = "UNKNOWN";
    var usrWwid = 0;
    var usrRole = "UNKNOWN";
    var usrRoleId = 0;
    var usrEmail = "";
    try
    {
        usrName = ViewBag.UserToken.Usr.FirstName + " " + ViewBag.UserToken.Usr.LastName;
        usrWwid = ViewBag.UserToken.Usr.WWID;
        usrEmail = ViewBag.UserToken.Usr.Email;
        usrRole = ViewBag.UserToken.Role.RoleTypeCd;
        usrRoleId = ViewBag.UserToken.Role.RoleTypeId;
    }
    catch (Exception ex)
    {
        OpLogPerf.Log(ex);
    }

    OpUserToken opUserToken = (OpUserToken)ViewBag.UserToken;

    string extraUserPrivs = "";
    string superPrefix = "";
    List<string> extraUserPrivsDetail = new List<string>();
    bool isDeveloper = opUserToken.IsDeveloper();
    bool isTester = opUserToken.IsTester();
    bool isSuper = opUserToken.IsSuper();


    if (isSuper)
    {
        superPrefix = "SUPER ";
        //extraUserPrivs += "S"; extraUserPrivsDetail.Add("Super User"); // for now leave this out as end users will actually have Super powers
    }
    if (isTester) { extraUserPrivs += "T"; extraUserPrivsDetail.Add("Tester User"); }
    if (isDeveloper) { extraUserPrivs += "D"; extraUserPrivsDetail.Add("Developer User"); }
    if (extraUserPrivs == "STD") { extraUserPrivs = "STuD"; } // We practice SAFE CODING on this project
    if (extraUserPrivs != "") { extraUserPrivs = "- " + extraUserPrivs; }

    var env = ViewBag.AppToken == null || ViewBag.AppToken.OpEnvironment == null || ViewBag.AppToken.OpEnvironment.EnvLoc == null ? "UNKNOWN" : ViewBag.AppToken.OpEnvironment.EnvLoc.Location;
    //TODO: Fetch it from DB
    var GAID = env == "CONS" ? "UA-47054404-40" : "UA-47054404-41";
    if (env == "PROD") { GAID = "UA-47054404-42"; }
}

<script async src="https://www.googletagmanager.com/gtag/js?id=@GAID"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '@GAID');
</script>

<div id="smbWindow" style="padding: 0; overflow: hidden !important;"></div>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <table style="display: table; width:100%">
            <tr>
                <td>
                    <div class="navbar-header">
                        <img class="navbar-logo" alt="" src="/images/intel-logo-white-100.png" ondblclick="eggSmw()">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home", new {Area = ""})" title="Back to the My Deals Dashboard">My Deals</a>
                    </div>
                </td>
                <td style="vertical-align: top">
                    <div style="text-align: center;" class="navbar-collapse collapse">
                        <div style="font-size: 14px; color: white; font-weight: bold; padding-left: 10px; padding-right: 10px; padding-bottom:5px;padding-top:5px; background-color: #00B1F1; display: inline-block">
                            Optimized For Google Chrome <img src="/images/ChromeIcon.png" style="width: 24px; height: 24px; margin-left: 10px">
                        </div>
                    </div>

                </td>
                <td width="auto">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="myDeals-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li style="text-align: center;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 7px;min-height:50px">
                                    <div class="fl" id="divUsrImg">
                                        <img src="https://photos.intel.com/images/@(usrWwid).jpg" style="width: 35px; height: 35px; margin-right: 5px; border: 1px solid #ffffff;" />
                                    </div>
                                    <div class="fl hidden-sm" style="margin-top: 7px; margin-right: 10px;">
                                        <div style="font-size: 12px; color: #ffffff; line-height: 1em;" id="divUsrName">@usrName</div>
                                        <div style="font-size: 9px; color: #ffffff; line-height: 1em;" id="divUsrRole">@superPrefix @usrRole <span class='yellow' title='@string.Join("\n", extraUserPrivsDetail)'>@extraUserPrivs</span></div>
                                    </div>
                                    <div class="fl">
                                        <notification-dock></notification-dock>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="fr">
                            <admin-banner></admin-banner>
                            <deal-popup-dock></deal-popup-dock>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <!-- /.navbar-collapse -->
        @*<security-loader></security-loader>*@
    </div>
    <div class="menu-bar {}">
        <ul class="nav nav-tabs nav-tabs-intel-blocks" id="myTab" role="tablist">
            @*<li class="dropdown">
                <a class="btn btn-primary" id="dLabel" role="button" href="/" data-toggle="dropdown" data-target="#">Contracts <i class="intelicon-down"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="@Url.Action("New", "Contract")">New Contract</a></li>
                <li><a href="@Url.Action("Find", "Contract")">Find a Contract</a></li>
                </ul>
                </li>*@

            <li><a href="@Url.Action("Index", "Home", new { Area = "" })" title="Home"><i class="intelicon-home-solid"></i><span class="hidden-xs"> Home</span></a></li>
            @*<li><a href="/Dashboard#/portal" title="Dashboard"><i class="intelicon-line-chart-outlined"></i><span class="hidden-xs"> Dashboard</span></a></li>*@
            @*<li><a href="@Url.Action("Index", "Home", new { Area = "" })" title="Settings"><i class="intelicon-settings-solid"></i><span class="hidden-xs"> Settings</span></a></li>*@

            @if (isDeveloper)
            {
                <li class="dropdown">
                    <a class="btn btn-primary" role="button" href="/" data-toggle="dropdown" data-target="#" title="Developer Documents"><i class="intelicon-attach-document-solid"></i><span class="hidden-xs"> Docs </span><i class="intelicon-down"></i></a>
                    <ul class="dropdown-menu multi-level scaleTopAnim" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="@Url.Action("Index", "CodingPractices", new { Area = "" })">Coding Practices</a></li>
                    </ul>
                </li>
            }

            @*Instead of using href can use the ui-sref to translate routes,
                however as we want to retain the # routing to distinguish between MVC and angular routes hence using href*@

            <li class="dropdown">
                <a class="btn btn-primary" id="dLabel" role="button" href="/page.html" data-toggle="dropdown" data-target="#" title="Administrative Tools"><i class="intelicon-settings-solid"></i><span class="hidden-xs"> Admin</span> <i class="intelicon-down"></i></a>
                <ul class="dropdown-menu multi-level scaleTopAnim" role="menu" aria-labelledby="dropdownMenu">

                    <li class="dropdown-submenu">
                        <a tabindex="-1">TroubleShooting</a>
                        <ul class="dropdown-menu" style="width: 300px;">
                            <li class="menu-detailed">
                                <a href="/error/ResetMyCache" onclick="clearSessionData('/error/ResetMyCache');return false;">
                                    <i class="fl fa fa-user-md"></i>
                                    <div class="fl">
                                        Clear <b>My</b> View Model
                                        <div>Clear only your settings</div>
                                    </div>
                                    <div class="clearboth"></div>
                                </a>
                            </li>
                            @if (usrRole == "SA" || isDeveloper)
                            {
                                <li class="menu-detailed">
                                    <a href="/error/ResetAVM" onclick="clearSessionData('/error/ResetAVM'); return false;">
                                        <i class="fl fa fa-medkit"></i>
                                        <div class="fl">
                                            Clear <b>App</b> View Model
                                            <div>Clear only the Middle Tier Cache</div>
                                        </div>
                                        <div class="clearboth"></div>
                                    </a>
                                </li>
                                <li class="menu-detailed">
                                    <a href="/error/ResetMT" onclick="clearSessionData('/error/ResetMT'); return false;">
                                        <i class="fl fa fa-heartbeat"></i>
                                        <div class="fl">
                                            Clear <b>All</b> View Models
                                            <div>Clear Middle Tier and ALL Users</div>
                                        </div>
                                        <div class="clearboth"></div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    @if (env != "PROD" && env != "UNKNOWN") // Update this with ENV not prod
                    {
                        <li><a href="Admin#/employee">Set Your Role (Pre-prod Only)</a></li>
                    }

                    @if (isDeveloper)
                    {
                        <li><a href="Admin#/cache">Cache Manager</a></li>
                        <li><a href="Admin#/oplog">Log Viewer</a></li>
                        <li><a href="Admin#/constants">Constants</a></li>
                    }
                    @if (usrRole == "SA" || isDeveloper)
                    {
                        <li><a href="Admin#/customers">Customer</a></li>
                        <li><a href="Admin#/geo">Geo</a></li>
                        <li><a href="Admin#/funfact">Fun Facts</a></li>
                    }
                    @if (usrRole == "Legal" || usrRole == "SA" || (usrRole == "GA" && isSuper) || isDeveloper)
                    {
                        <li><a href="Admin#/meetcomp">Meet Comp</a></li>
                    }

                    @if (usrRole == "SA" || isDeveloper)
                    {
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Products</a>
                            <ul class="dropdown-menu">
                                <li><a href="Admin#/productAlias">Product Alias</a></li>
                                @*<li><a href="Admin#/productSelector">Product Entry</a></li>
                                    <li><a href="Admin#/productEntryIncExc">Prod Include Exclude</a></li>*@
                                <li><a href="Admin#/products">Product Hierarchy</a></li>
                                <li><a href="Admin#/productCategories">Product Vertical Rules</a></li>
                            </ul>
                        </li>
                    }
                    @if (usrRole == "Legal" || usrRole == "SA" || isDeveloper)
                    {
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Legal Configurations</a>
                            <ul class="dropdown-menu">
                                <li><a href="CostTest#/CostTest/icostproducts">Legal Classification</a></li>
                                <li><a href="Admin#/legalexceptions">Legal Exceptions</a></li>
                                <li><a href="Admin#/quoteLetter">Quote Letter</a></li>
                            </ul>
                        </li>
                    }

                    @if (usrRole == "SA" || isDeveloper)
                    {
                        <li><a href="Admin#/dropdowns">UI Control Values</a></li>
                    }

                    @if (isDeveloper)
                    {
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Security Attributes</a>
                            <ul class="dropdown-menu">
                                <li><a href="Admin#/SecurityEngine">Security Engine</a></li>
                                <li><a href="Admin#/SecurityAttributes/DealTypes">Deal Types</a></li>
                            </ul>
                        </li>

                        <li><a href="Admin#/workflow">WorkFlow</a></li>
                        <li><a href="Admin#/workflowstage">WorkFlow Stages</a></li>
                    }

                    @if (usrRole == "DA" || usrRole == "SA" || isDeveloper) // DA users get to edit their own records only, SA get all.  Developer gets their present record and might be restricted access.
                    {
                        <li><a href="Admin#/manageEmployee">User Administration Screen</a></li> //User Customer Assignments
                    }

                </ul>
            </li>


            <li>
                <a href="/advancedSearch#/tenderSearch" title="Tender Manager"><i class="intelicon-copy-solid"></i><span class="hidden-xs"> Tenders</span></a>
            </li>
            <li>
                <a href="/advancedSearch#/attributeSearch" title="Advanced Search Tools"><i class="intelicon-search"></i><span class="hidden-xs"> Advanced Search</span></a>
            </li>
            <li>
                <a href="/Help?topic=intro" target="_blank"><i class="intelicon-help"></i><span class="hidden-xs"> Help</span></a>
            </li>
            @Html.Partial("_Search")
        </ul>
    </div>
</nav>

<style>
    .menu-bar {
        background-color: #0071C5;
        padding: 0 6px 6px 6px;
    }

    nav .hdrIcon {
        text-align: center;
    }

        nav .hdrIcon a {
            padding: 6px;
        }

            nav .hdrIcon a i {
                line-height: .9em;
                font-size: 20px;
            }

            nav .hdrIcon a div {
                font-size: 9px;
                line-height: .9em;
            }

    .menu-detailed a i {
        font-size: 28px !important;
        color: #00AEEF;
        margin: 2px 10px 0 0;
        width: 30px;
    }

    .menu-detailed a div {
        line-height: 1.2em;
    }

        .menu-detailed a div > div {
            font-size: 10px;
            color: #aaaaaa;
        }

    .navbar-security {
        float: left;
        padding: 20px 15px 14px 0;
        font-size: 10px;
        margin-left: -11px;
        color: #ffffff;
        line-height: 12px;
        height: 50px;
    }
</style>

<script>
    function eggSmw() {
        window.open("/egg/mb/menu.html", "_blank", "toolbar=no,scrollbars=no,menubar=no,status=no,titlebar=no,resizable=no,width=642,height=482,top=200,left=200");
    }

    function eggDd() {
        window.open("/egg/dd/DbDug.html", "_blank", "toolbar=no,scrollbars=no,menubar=no,status=no,titlebar=no,resizable=no,width=623,height=625,top=200,left=200");
    }

    function clearSessionData(newPath) {
        localStorage.clear(); // clear local storage
        sessionStorage.clear(); // clear session storage

        // Clear cookies too
        var cookies = document.cookie;

        if (cookies !== "") {
            for (var i = 0; i < cookies.split(";").length; ++i) {
                var myCookie = cookies[i];
                var pos = myCookie.indexOf("=");
                var name = pos > -1 ? myCookie.substr(0, pos) : myCookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }

        window.location = newPath;
    }

    window.usrRole = "@usrRole";
    window.usrRoleId = parseInt("@usrRoleId");
    window.usrName = "@usrName";
    window.usrWwid = "@usrWwid";
    window.usrEmail = "@usrEmail";
    window.isSuper = "@isSuper" === "True";

    window.isDeveloper = "@isDeveloper" === "True";
    window.isTester = "@isTester" === "True";

    window.env = "@env";
</script>


<script src="https://appusage.intel.com/Service/api/loguser/114464?environment=@env" async></script>
