@using Intel.MyDeals.App
@using Intel.MyDeals.Entities
@using Intel.Opaque
@{
    ApplicationViewModel avm = (ApplicationViewModel)ViewData.Model;
    var usrName = "UNKNOWN";
    var usrWwid = 0;
    var usrRole = "UNKNOWN";
    try
    {
        usrName = ViewBag.UserToken.Usr.FirstName + " " + ViewBag.UserToken.Usr.LastName;
        usrWwid = ViewBag.UserToken.Usr.WWID;
        usrRole = ViewBag.UserToken.Role.RoleTypeCd;
    }
    catch (Exception ex)
    {
        // do some error catching or 404 error redirect here
    }

    OpUserToken opUserToken = (OpUserToken)ViewBag.UserToken;

    string extraUserPrivs = "";
    string superPrefix = "";
    List<string> extraUserPrivsDetail = new List<string>();
    bool isDeveloper = opUserToken.IsDeveloper();
    bool isTester = opUserToken.IsTester();
    bool isSuper = opUserToken.IsSuper();
    bool isAdmin = opUserToken.IsAdmin();

    if (isSuper)
    {
        superPrefix = "SUPER ";
        //extraUserPrivs += "S"; extraUserPrivsDetail.Add("Super User"); // for now leave this out as end users will actually have Super powers
    }
    if (isTester) { extraUserPrivs += "T"; extraUserPrivsDetail.Add("Tester User"); }
    if (isDeveloper) { extraUserPrivs += "D"; extraUserPrivsDetail.Add("Developer User"); }
    if (isAdmin) { extraUserPrivs += "A"; extraUserPrivsDetail.Add("Admin User"); }
    if (extraUserPrivs == "STD") { extraUserPrivs = "STuD";} // We practice SAFE CODING on this project
    if (extraUserPrivs == "STDA") { extraUserPrivs = "A STuD"; } // Is something special, and much safer.
    if (extraUserPrivs != "") { extraUserPrivs = "- " + extraUserPrivs; }
}

<div id="smbWindow"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#myDeals-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="sr-only icon-bar"></span>
                <span class="sr-only icon-bar"></span>
                <span class="sr-only icon-bar"></span>
            </button>
            <img class="navbar-logo" alt="" src="/images/intel-logo-white-100.png" ondblclick="eggSmw()">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { Area = "" })">MyDeals</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="myDeals-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li style="text-align: center;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 7px;">
                        <div class="fl" id="divUsrImg">
                            <img src="https://photos.intel.com/images/@(usrWwid).jpg" style="width: 35px; height: 35px; margin-right: 5px; border: 1px solid #ffffff;"/>
                        </div>
                        <div class="fl hidden-sm" style="margin-top: 7px; margin-right: 10px;">
                            <div style="font-size: 12px; color: #ffffff; line-height: 1em;" id="divUsrName">@usrName</div>
                            <div style="font-size: 9px; color: #ffffff; line-height: 1em;" id="divUsrRole">@superPrefix @usrRole <span class='yellow' title='@string.Join(",", extraUserPrivsDetail)'>@extraUserPrivs</span></div>
                        </div>
                        <div class="fl">
                            <i class="intelicon-down" style="color: #ffffff; margin-top: 5px;"></i>
                        </div>
                        <div class="clearboth"></div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">User Preferences</a></li>
                        <li><a href="#">Some other stuff</a></li>
                    </ul>
                </li>
            </ul>
            <div class="fr">
                <admin-banner></admin-banner>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        @*<security-loader></security-loader>*@
    </div>

    <div class="menu-bar {}">
        <ul class="nav nav-tabs nav-tabs-intel-blocks" id="myTab" role="tablist">
            @*<li class="dropdown">
                <a class="btn btn-primary" id="dLabel" role="button" href="/" data-toggle="dropdown" data-target="#">Contracts <i class="intelicon-down"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="@Url.Action("New", "Contract")">New Contract</a></li>
                    <li><a href="@Url.Action("Find", "Contract")">Find a Contract</a></li>
                </ul>
            </li>*@


            <li><a href="@Url.Action("Index", "Home", new { Area = "" })" title="Home"><i class="intelicon-home-solid"></i><span class="hidden-xs"> Home</span></a></li>
            @*<li><a href="/Dashboard#/portal" title="Dashboard"><i class="intelicon-line-chart-outlined"></i><span class="hidden-xs"> Dashboard</span></a></li>*@
            @*<li><a href="@Url.Action("Index", "Home", new { Area = "" })" title="Settings"><i class="intelicon-settings-solid"></i><span class="hidden-xs"> Settings</span></a></li>*@

            @if (isDeveloper)
            {
                <li class="dropdown">
                    <a class="btn btn-primary" role="button" href="/" data-toggle="dropdown" data-target="#" title="Developer"><i class="intelicon-attach-document-solid"></i><span class="hidden-xs"> Docs </span><i class="intelicon-down"></i></a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="@Url.Action("Index", "CodingPractices", new { Area = "" })">Coding Practices</a></li>
                    </ul>
                </li>
            }

            @*Instead of using href can use the ui-sref to translate routes,
            however as we want to retain the # routing to distinguish between MVC and angular routes hence using href*@

            <li class="dropdown">
                <a class="btn btn-primary" id="dLabel" role="button" href="/page.html" data-toggle="dropdown" data-target="#">Admin <i class="intelicon-down"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="/error/ResetAVM">Clear View Model</a></li>
                    @if (isDeveloper)
                    {
                        <li><a href="Admin#/cache">Cache Manager</a></li>
                        <li><a href="Admin#/constants">Constants</a></li>
                    }
                    @if (isSuper || isTester || isDeveloper)
                    {
                        <li><a href="Admin#/customers">Customer</a></li>
                        <li><a href="Admin#/geo">Geo</a></li>
                    }
                    @if (usrRole == "Legal" || isTester || isDeveloper)
                    {
                        <li><a href="Admin#/meetcomp">Meet Comp</a></li>
                    }
                    @if (isSuper || isTester || isDeveloper)
                    {
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Products</a>
                            <ul class="dropdown-menu">
                                <li><a href="CostTest#/CostTest/icostproducts">Legal Classification</a></li>
                                <li><a href="Admin#/legalexceptions">Legal Exceptions</a></li>
                                <li><a href="Admin#/productAlias">Product Alias</a></li>
                                @*<li><a href="Admin#/productSelector">Product Entry</a></li>
                                <li><a href="Admin#/productEntryIncExc">Prod Include Exclude</a></li>*@
                                <li><a href="Admin#/products">Product Hierarchy</a></li>
                                <li><a href="Admin#/productCategories">Product Vertical Rules</a></li>
                            </ul>
                        </li>
                    }

                    @if (isSuper || isDeveloper)
                    {
                        <li><a href="Admin#/dropdowns">UI Control Values</a></li>
                    }

                    @if (isDeveloper)
                    {
                        @*<li><a href="Admin#/rules">Rules</a></li>*@
                        <li><a href="Admin#/SecurityEngine">Security Engine</a></li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1">Security Attributes</a>
                            <ul class="dropdown-menu">
                                <li><a href="Admin#/SecurityAttributes/Actions">Actions</a></li>
                                <li><a href="Admin#/SecurityAttributes/Applications">Applications</a></li>
                                <li><a href="Admin#/SecurityAttributes/DealTypes">Deal Types</a></li>
                                <li><a href="Admin#/SecurityAttributes/RoleTypes">Role Types</a></li>
                            </ul>
                        </li>
                        <li><a href="Admin#/workflow">WorkFlow</a></li>
                        <li><a href="Admin#/workflowstage">WorkFlow Stages</a></li>
                    }

                </ul>
            </li>


            @*<li class="dropdown">
                <a class="btn btn-primary" role="button" href="/" data-toggle="dropdown" data-target="#">Debug <i class="intelicon-down"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><div style="cursor: pointer; padding: 2px 4px;" onClick="rs.viewJson()">View Json Data</div></li>
                    <li><div style="cursor: pointer; padding: 2px 4px;" onClick="rs.viewLogs()">View Logs</div></li>
                </ul>
            </li>*@

            @*<li class="dropdown">
                <a class="btn btn-primary" id="dLabel" role="button" href="/page.html" data-toggle="dropdown" data-target="#">Dropdown <i class="intelicon-down"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#">Some action</a></li>
                    <li><a href="#">Some other action</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Hover me for more options</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1">Second level</a></li>
                            <li class="dropdown-submenu">
                                <a href="#">Even More..</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level</a></li>
                                    <li><a href="#">3rd level</a></li>
                                </ul>
                            </li>
                            <li><a>Second level</a></li>
                            <li><a>Second level</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li><a href="@Url.Action("Index", "Contract")">Contract</a></li>
            <li><a href="@Url.Action("Index", "DealManager")">Deal Manager</a></li>*@
            @Html.Partial("_Search")
        </ul>
    </div>
</nav>

<style>
    .menu-bar {
        background-color: #0071C5;
        padding: 0 6px 6px 6px;
    }

     nav .hdrIcon {
         text-align: center;
     }

    nav .hdrIcon a {
        padding: 6px;
    }

    nav .hdrIcon a i {
        line-height: .9em;
        font-size: 20px;
    }

    nav .hdrIcon a div {
        font-size: 9px;
        line-height: .9em;
    }
</style>

<script>
    topbar.config({
        barColors: {
            '0': 'rgba(196, 214, 0, 1)'
        }
    });

    function eggSmw() {
        window.open("/egg/mb/menu.html", "_blank", "toolbar=no,scrollbars=no,menubar=no,status=no,titlebar=no,resizable=no,width=642,height=482,top=200,left=200");
    }

    window.usrRole = "@usrRole";
    window.usrName = "@usrName";
    window.usrWwid = "@usrWwid";
    window.isSuper = "@isSuper";
</script>



