@using Intel.MyDeals.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Deals</title>
    @*Removing Content ~/Content/css and pull those styles as reference to get Angular kendo grid working*@
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/toastr.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/jquery.rainbowJSON.css" rel="stylesheet">
    <link href="/css/it-mlaf.min.css" rel="stylesheet">
    <link href="/Content/kendo/2017.R1/kendo.common-material.min.css" rel="stylesheet">
    <link href="/css/kendo.intel.css" rel="stylesheet">
    <link href="/css/angular-bootstrap-toggle.min.css" rel="stylesheet">
    <link href="/css/select.min.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet">
    <link href="/css/nv.d3.min.css" rel="stylesheet">
    <link href="/css/_report.css" rel="stylesheet">
    <link href="/css/_contractManager.css" rel="stylesheet">
    <link href="/css/angular-gridster.css" rel="stylesheet">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/app/core/directives/dealPopup/dealPopup.directive.css" rel="stylesheet">
    <link href="/app/core/directives/dealPopup/dealPopupDock.directive.css" rel="stylesheet">
    <link href="/app/core/directives/dealPopup/dealPopupIcon.directive.css" rel="stylesheet">

    @Styles.Render("~/MyDeals/css")

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/MyDeals/scripts")
    <style>
        .mainBodyStyle {
            position: absolute;
            top: 84px;
            bottom: 15px;
            left: 0;
            right: 0;
            overflow: hidden !important;
        }

        td.custom-border {
            border: 2px solid red;
            text-align: center !important;
        }

        td.custom-cell {
            background-color: red;
            color: lightslategray;
        }

        myInvalidClass {
            background-color: red;
        }
        .loading-screen{
            top:20px !important;
            height:400px !important;
            margin-top:100px !important;
        }
    </style>

</head>

<body @Html.RequestVerificationToken()>
    @*Since Angular bundle size is increasing the overall loading time will incresing which cause delay in UI landing page to load.
     To avoid that brining the loading to _layout.cshtml page and will make is disable in dashboard*@
    <div class="loading-screen">
        <div class="fullHeight">
            <div class="jumbotron ng-scope">
                <div class="container">
                    <h1><strong>My</strong> Deals </h1><p class="lead"> Dashboard. </p>
                    <p>Dashboard is loading ...</p>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Header")
    <div id="modals"></div>
    <div id="bodyContent" class="mainBodyStyle" style="">
        <div ui-view="dashboardView"></div>
        <div ui-view="mainView"></div>
        @RenderBody()
    </div>
    @*@Html.Partial("_Footer")*@
    <app-footer></app-footer>
    @*@Html.Partial("_Loading")*@
    <app-loader></app-loader>


    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularReusable")
    @Scripts.Render("~/bundles/angularModules")

    <script>
        kendo.spreadsheet.defineFunction("iserror", function (value) {
            return value;
        }).args([
            ["value", "anyvalue"]
        ]);

    </script>
    <script src="~/Client/src/dist/bundle.js"></script>

</body>

</html>