@using Intel.MyDeals.Helpers;

<!DOCTYPE html>
<html ng-app="app" ng-strict-di>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Deals</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/MyDeals/css")

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/MyDeals/scripts")
    <style>
        .mainBodyStyle {
            position: absolute;
            top: 84px;
            bottom: 15px;
            left: 0;
            right: 0;
            overflow: hidden !important;
        }
    </style>
</head>

<body @Html.RequestVerificationToken()>
    @Html.Partial("_Header")
    <div id="modals"></div>
    <div id="bodyContent" class="mainBodyStyle" style="">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_Loading")


    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularReusable")
    @Scripts.Render("~/bundles/angularModules")

    <script>
        kendo.spreadsheet.defineFunction("iserror", function (value) {
            return value;
        }).args([
            ["value", "anyvalue"]
        ]);

    </script>
</body>

</html>