@using Intel.MyDeals.Helpers;

<!DOCTYPE html>
<html>
<head>
    <base href="/" id="baseHref">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <title>@ViewBag.Title - My Deals</title>
    @*Removing Content ~/Content/css and pull those styles as reference to get Angular kendo grid working*@

    <!-- #region CSS / Style Sheets -->
    @Styles.Render("~/MyDeals/cssAng")
    @*<link href="/css/_loadingPanel.directive.css" rel="stylesheet">
        <link href="/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/css/toastr.min.css" rel="stylesheet">
        <link href="/css/it-mlaf.min.css" rel="stylesheet">
        <link href="/css/angular-bootstrap-toggle.min.css" rel="stylesheet">*@

    @* @Styles.Render("~/MyDeals/cssClient") *@
    <link href="/Client/src/dist/globalStyle.css" rel="stylesheet">

    <style>
        .mainBodyStyle {
            position: absolute;
            top: 0px !important;
            left: 0;
            right: 0;
            overflow: hidden !important;
            height: 100%;
        }

        myInvalidClass {
            background-color: red;
        }

        .loading-screen {
            top: 0px !important;
            height: 100vh !important;
        }

        .jumbotron {
            height: -webkit-fill-available;
            margin-bottom: unset;
        }

        .loading-screen .load-text {
            font-size: 20px;
        }
    </style>
    <!-- #endregion -->
    <!-- #region JavaScript Libraries -->
    @Scripts.Render("~/bundles/scriptsAng")
    @* Versions of Bootstrap, Bootstrap-Switch, Popper, JQuery must match those in the Angular project's package.json file *@
    <!--<script src="/Scripts/jquery.min.js" async></script>
    <script src="/Scripts/popper_1.16.1.min.js" async></script>-->   @* Popper.js 1.16.1 is the latest version compatible with Bootstrap 4.x; when upgrading to Bootstrap 5, can upgrade this to @popperjs/core^2.0*@
    <!--<script src="/Scripts/bootstrap.min.js" async></script>
    <script src="/Scripts/bootstrap-switch.min.js" async></script>
    <script src="/Scripts/modernizr-2.8.3.min.js" async></script>--> @* 2.8.3 is the most up to date version compatible with our project, look into upgrading dependency calls or omitting Modernizr from the project in the future*@
    <!-- #endregion -->
</head>

    <body @Html.RequestVerificationToken()>
        @*Since Angular bundle size is increasing the overall loading time will incresing which cause delay in UI landing page to load.
        To avoid that brining the loading to _layout.cshtml page and will make is disable in dashboard*@
        @Html.Partial("_Header")
        <div id="modals"></div>
        <div id="bodyContent" class="mainBodyStyle">
            <app-root></app-root>
            @RenderBody()
        </div>
        <app-loader></app-loader>
    </body>
</html>